# data (절대 업로드 금지)
data/
datasets/
**/*.wav
**/*.flac
**/*.mp3
**/*.m4a
**/*.ogg

# metadata (원본은 용량/라이선스 이슈 가능)
metadata.csv

# checkpoints / logs
**/*.pt
**/*.pth
runs/
exp_result/
logs/

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# mac
.DS_Store
